@import '../../../styles/colors/colors';

.portfolio-entry-link {
    width: 100%;

    .project-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        width: 100%;
        // max-height: 200px;

        box-shadow: 5px 5px 10px black;

        cursor: pointer;

        .image-container {
            width: 250px;
            height: 250px;

            overflow: hidden;


            img {
                transition: all 0.3s;
                min-width: 250px;
                min-height: 250px;
            }
        }

        &:hover {
            .image-container {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .project-info-container {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            &__title-label {
                font-size: 1.5rem;
                opacity: 0.7;
            }

            &__title {
                font-size: 2rem;
            }
        }

        .client-info-container {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding: 0 2rem;
            margin-left: 5rem;

            position: relative;

            &::after {
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: $dark;
            }

            &__client-name-label {
                opacity: 0.7;
            }

            &__client-name {
                font-size: 1.5rem;
            }

            &__client-link-label {
                opacity: 0.7;

            }

            &__client-link {
                font-size: 1.5rem;
            }
        }

    }

}

@media screen and (max-width: 700px) {
    .portfolio-entry-link {
        width: auto;

        .project-container {
            width: 300px;
            flex-direction: column;

            .image-container {
                height: 300px;
                width: 300px;

                overflow: hidden;
            }

            .project-info-container {
                align-items: center;
            }

            .client-info-container {
                align-items: center;
                padding: 0 0 3rem 0;
                margin: 0;

                &::after {
                    display: none;
                }
            }
        }
    }
}