@import '../../colors/colors';

.add-new-project-link {
    width: 100%;

    .add-new-project-button {
        width: 100%;
        background-color: $green-cta;
        color: white;
        text-align: center;
        padding: 1rem;
        margin: 0 0 2rem 0;
    }
}